# Emacs ignore file
.emacs-places
.recentf
.gitconfig
*.elc
*~
*.swp
\#.*
.#*
\#*
.history
.session
.ssh/*
.ssh/
.emacs.d/eshell/*
.emacs.d/elpa/archives/
.emacs.d/tramp
.bash_history
.w3m
.gem/
\.DS_Store
